<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tickets|Try IT!</title>

	<!-- materialize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	<!-- icons -->
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<header>
	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">TicketSystem</a>
    </div>
  </nav>
</header>

<div></div>

<footer></footer>

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

<script>
	$(".button-collapse").sideNav();
</script>
</body>
</html>
