.separator{
    height: 1px;
    background: #ccc;
    width: 80%;
    margin: 0 auto;
}
/**************************PARTNERS*************************/
.partners{
    margin-bottom: 50px;
}
.partner-title{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top:40px;
}
.gold{
    border-bottom: 2px solid #eba000;
    color:#eba000;
}
.silver{
    border-bottom: 2px solid #c0c0c0;
    color:#c0c0c0;
}
.bronze{
    border-bottom: 2px solid #cd7f32;
    color:#cd7f32;
}
.partners-logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-top: 20px;
}
.partner-logo{
    position: relative;
}
.partner-logo-lg{
    height: 100px;
    width: 200px;
}
.partner-logo-md{
    height: 80px;
    width: 160px;
}
.partner-logo-sm{
    height: 30px;
    width: 120px;
}
.partner-logo div{
    position: absolute;
    bottom: 0;
    width:100%;
    margin-top: 15px;
}
.partner-logo img{
    display:block;
    margin:auto;
}
.partner-logo-lg img{
    max-height: 100px;
    max-width: 200px;
}
.partner-logo-md img{
    max-height: 80px;
    max-width: 160px;
}
.partner-logo-sm img{
    max-height: 30px;
    max-width: 120px;
}
@media(max-width:985px){
    .partner-logo{
        height: auto;
        position: relative;
    }
    .partner-logo-lg{
        width: 200px;
    }
    .partner-logo-md{
        width: 160px;
    }
    .partner-logo-sm{
        width: 120px;
    }
    .partner-logo div{
        position: inherit;
    }
}


/**************************EVENT*************************/
.event__box img{
    width: 100%;
}
.event__box{
    position: absolute;
}
.event__text{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    right: 0;
    transform: translate(0,60%);
}
@media(max-width:850px){
    .event__text,.event__box{
        position: inherit;
        background: inherit;
        top: 0;
        left: 0;
        transform: translate(0,0);
    }
}