nav img {
	margin-top: 15%;
}

.parallax-container {
	height: 300px;
}

.promo i {
	font-size: 4rem;
}

.promo-caption {
	font-weight: bold;
}

.twitter-follow-button {
	margin-top: 5px;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
}

.tabs .indicator {
	background-color: #64dd17;
}

.with-newlines {
	white-space: pre-wrap;
}

.secondary-text {
	color: rgba(0, 0, 0, 0.54);
}

.ticket-card {
	margin-top: 15px;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}

	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
}