nav img {
	margin-top: 15%;
}

.parallax-container {
	height: 300px;
}

.promo i {
	font-size: 4rem;
}

.promo-caption {
	font-weight: bold;
}

.twitter-follow-button {
	margin-top: 5px;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
}

.tabs .indicator {
	background-color: #64dd17;
}

.with-newlines {
	white-space: pre-wrap;
}

.secondary-text {
	color: rgba(0, 0, 0, 0.54);
}

.primary-text {
	color: rgba(0, 0, 0, 0.87);
}

.session-hour {
	margin-right: 70px;
}

.ticket-card {
	margin-top: 15px;
}

.btn_submit {
	margin-right: 20px;
}

.daetsiinf_logo {
	width: 55px;
	height: auto;
}

.fa-code:hover {
	color: #56A50B !important;
}

.fa-twitter:hover {
	color: #1DA1F2 !important;
}

.fa-facebook:hover {
	color: #3B5998 !important;
}

.fa-linkedin-square:hover {
	color: #0177B5 !important;
}

.fa-google-plus-official:hover {
	color: #DB4437 !important;
}

.fa-github:hover {
	color: #323131 !important;
}

.fa-gitlab:hover {
	color: #FC6D26 !important;
}

.fa-youtube-play:hover {
	color: #bb0000 !important;
}

/* label color */
.input-field label {
	color: #8BC34A;
}

/* label focus color */
.input-field input[type=password]:focus + label {
	color: #8BC34A;
}

/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid #8BC34A;
	box-shadow: 0 1px 0 0 #8BC34A;
}

/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid #8BC34A;
	box-shadow: 0 1px 0 0 #8BC34A;
}

/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid #f44336;
	box-shadow: 0 1px 0 0 #f44336;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #8BC34A;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}

	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
}

