.search-input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.search-input .input-field {
    width: 150px;
    margin-right: 25px;
}

.browser-default{
    max-width: 200px;
}

.button {
    margin-top: 30px;
}


.results{
    width: 100%;
}
.result{
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 10px auto;
}
.result p{
    margin: 0;
}
.result .key{
    font-weight: bold;
}
.result .value{
    margin-left: 10px;
}
.collection a.collection-item{
    color: #222;
}
.collection .collection-item{
    border-bottom: 1px solid #aaa;
}
.collection{
    border: 1px solid #aaa;
    border-radius: 3px;
    max-width: 480px;
    margin: 0 auto;
}
/*Center in mobile*/
@media screen and (max-width: 512px){

    .search-input {
        margin-top: 15px;
    } 
    .search-input .input-field ,
    .search-input .btn {
        margin: 0 auto;
        width: 100%;
    }
}

.horizontal{
    background: #ccc;
    opacity: .4;
    margin: 20px auto;
    width: 80%;
}

/* ECTS Toottip*/
.tooltipped{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color:  white;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}