Django==2.1.7
django-backup==1.0.1
djangorestframework==3.9.1
gunicorn==19.9.0
olefile==0.46
Pillow==9.0.0
pytz==2018.9
reportlab==3.5.13
wheel==0.33.1
setuptools==40.8.0
pip==19.0.3
web3
hexbytes
requests
django-cors-headers
