{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
	<div ng-controller="volunteersValidationController">
		<div class="row ticket-card" ng-show="!responseSuccess">
			<div class="col s12 m8 offset-m2">
				<div class="card-panel">

					<div class="col s12">
						<h5>Rellena el formulario para formalizar tu participación como voluntario en el Try IT! 2018.</h5>
						<p>Recuerda que esta actividad está reconocida hasta 2 ECTS, si además eres voluntario puedes conseguir 1 ECTS extra.
							Ser voluntario y asistir a todas las charlas es posible, ya que nos organizamos para que puedas asistir
							a las charlas que quieras. Si estás interesado rellena el siguiente formulario.</p>
					</div>

					<form name="volunteersForm" ng-submit="submitForm()" novalidate>

						<!-- name -->
						<div class="row">
							<div class="input-field col l6 s12">
								<input name="name" id="name" type="text" ng-model="volunteer.name"
											 ng-class="{ valid: volunteersForm.name.$valid, invalid:volunteersForm.name.$invalid &&
											  volunteersForm.name.$dirty }" required>
								<label for="name">setName() *</label>
							</div>
						</div>

						<!-- lastname -->
						<div class="row">
							<div class="input-field col l6 s12">
								<input name="lastname" id="lastname" type="text" ng-model="volunteer.lastname"
											 ng-class="{ valid: volunteersForm.lastname.$valid, invalid:volunteersForm.lastname.$invalid &&
											  volunteersForm.lastname.$dirty }" required>
								<label for="lastname">setLastname() *</label>
							</div>
						</div>

						<!-- email -->
						<div class="row">
							<div class="input-field col l6 s12">
								<input name="email" id="email" type="email" ng-model="volunteer.email"
											 ng-class="{ valid: volunteersForm.email.$valid, invalid:volunteersForm.email.$invalid &&
											  volunteersForm.email.$dirty }" required>
								<label for="email">setEmail() *</label>
							</div>
						</div>

						<!-- matricula -->
						<div class="row">
							<div class="input-field col l6 s12">
								<input name="enrollment" id="enrollment" type="text" ng-model="volunteer.expedient"
											 ng-class="{ valid: volunteersForm.enrollment.$valid, invalid:volunteersForm.enrollment.$invalid &&
											 volunteersForm.enrollment.$dirty }" required>
								<label for="enrollment">setMatricula() *</label>
							</div>
						</div>


						<!-- phone -->
						<div class="row">
							<div class="input-field col l6 s12">
								<input name="phone" id="phone" type="tel" maxlength="13" ng-model="volunteer.phone"
											 ng-class="{ valid: volunteersForm.phone.$valid, invalid:volunteersForm.phone.$invalid &&
											 volunteersForm.phone.$dirty }" required>
								<label for="phone">setPhone() *</label>
							</div>
						</div>

						<!-- escuela -->
						<div class="row">
							<div class="input-field col l6 s12">
								<h6 style="padding-bottom:10px;">Seleccione una escuela:</h6>
								<select id="college" class="browser-default" ng-model="volunteer.college"
												ng-options="college.code as college.name for college in colleges"
												ng-change="collegeSelected()">
								</select>
							</div>
						</div>

						<!-- grado -->
						<div class="row">
							<div class="input-field col l6 s12">
								<h6 style="padding-bottom:10px;">Seleccione sus estudios:</h6>
								<select id="degree" class="browser-default" ng-model="volunteer.degree"
												ng-options="degree.code as degree.name for degree in degrees">
								</select>
							</div>
						</div>

					<!-- android phone -->
						<div class="row">
							<div class="col s12">
								<h6 style="padding-bottom:10px;">¿Tienes un dispositivo android?</h6>
							</div>
							<div class="col s12">
								<input class="with-gap" name="android" type="radio" id="android_yes" ng-model="volunteer.android"
											 ng-value="true"/>
								<label for="android_yes">Si</label>
								<input class="with-gap" name="android" type="radio" id="android_no" ng-model="volunteer.android"
											 ng-value="false"/>
								<label for="android_no">No</label>
							</div>
						</div>

						<!-- shirt -->
						<div class="row">
							<div class="input-field col l6 s12">
								<h6 style="padding-bottom:10px;">Seleccione talla de camiseta:</h6>
								<select id="shirt" class="browser-default" ng-model="volunteer.shirt"
												ng-options="shirt.id as shirt.value for shirt in shirts">
								</select>
							</div>
						</div>

						<!-- Terms and conditions information-->
						<div class = "row">
							<p class = "col l6 s12" style="color:#9e9e9e"> 
							El usuario concede a la organización el uso de imagenes tomadas durante
							la duración del evento, en redes sociales pertenecientes a la organización,
							y en archivos multimedia que podrán ser utilizados a posteriori		</p>
						</div>

						<!-- Terms and conditions checkbox -->
						<div class="row">
							<p class="col l6 s12">
								<input type="checkbox" id="terms_and_conditions" />
								<label for="terms_and_conditions">Acepto los <a class="modal-trigger light-green-text" style="text-decoration: underline" href="#modal1">términos y condiciones</a></label>
							</p>
						</div>
						
						<!-- timetable volunteers -->
						<h6 style="padding-left:10px;">Disponibilidad:</h6>
						<div class="flex-row">
							<!--primera columna-->
							<div class="time-options timetable-column">
								<div class="blank"></div>
								{% for schedule in schedule_list %}
								<div class="time-election">{{schedule.type}}</div>
								{% endfor %}
							</div>

							{% for day in day_list %}
							<div class="timetable-column">
								<div class="date">
									<div class="day-week">{{day|date:'l'}}</div>
									<div class="day-month">{{day|date:'j \d\e F'}}</div>
								</div>

								{% for schedule in schedule_list %}
								<div class="radio-input">
									<input type="checkbox" class="lightgreenTryIT" id="{{day|date:'d'}}_{{schedule.id}}" ng-model="volunteer.schedule.s{{day|date:'d'}}_{{schedule.id}}"/>
									<label for="{{day|date:'d'}}_{{schedule.id}}"></label>
								</div>
								{% endfor %}
							</div>
							{% endfor %}
						</div>

						<!-- comments -->
						<div class="row">
							<div class="input-field col l6 s12">
								<textarea name="comments" id="comments" maxlength="255" ng-model="volunteer.commentary"
													class="materialize-textarea"
													ng-class="{ valid: volunteersForm.comments.$valid, invalid:volunteersForm.comments.$invalid &&
														volunteersForm.comments.$dirty }"></textarea>
								<label for="comments">Comentarios</label>
							</div>
						</div>


						<!-- send button -->
						<div class="valign-wrapper">
							<button id="btn_submit" class="btn waves-effect waves-light light-green valign btn_submit" type="submit"
											name="action" ng-class="{ disabled: btnSubmited }" ng-disabled="btnSubmited">
								Enviar
								<i class="material-icons right">send</i>
							</button>

							<div class="preloader-wrapper small active valign" ng-show="btnSubmited">
								<div class="spinner-layer spinner-green-only">
									<div class="circle-clipper left">
										<div class="circle"></div>
									</div>
									<div class="gap-patch">
										<div class="circle"></div>
									</div>
									<div class="circle-clipper right">
										<div class="circle"></div>
									</div>
								</div>
							</div>
						</div>

						{% verbatim %}
						<p class="red-text" ng-show="formErrorSubmit"> {{ textError }} </p>
						{% endverbatim %}

					</form>
				</div>
			</div>
		</div>

		<!-- Success response panel -->
		<div class="row" ng-show="responseSuccess">
			<div class="col m8 s12 offset-m2">
				<div class="card-panel ">
					<div class="center-align">
						<i class="material-icons large light-green-text">done</i>

						<p>Solicitud registrada.</p>
						<br>
						<p>La organización se pondrá en contacto contigo a la mayor brevedad posible.</p>
						<p>Muchas gracias.</p>

					</div>
				</div>
			</div>
		</div>

	</div>

	<style>
	.flex-row{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.time-election{
		padding: 6.25px;
		text-align: right;
	}
	.date{
		height: 60px;
	}

	.date .day-month{
		font-size: 13px;
		color: #858585;
		margin-top:-5px;
	}
	.day-month,.day-week{
		text-align: center;
	}
	.radio-input{
		display: flex;
		justify-content: center;
		padding: 5px 0;
	}
	.blank{
		height: 60px;
	}
	.timetable-column{
		border-right: .3px solid rgba(124, 124, 124, 0.62);
	}
	.timetable-column:last-child,.timetable-column:first-child{
		border-right: 0;
	}
	@media (min-width:992px) {
		.timetable-column{
			width: 20%;
			padding: 10px;
		}
		.timetable-column:first-child{
			width: 10%;
		}
	}
	@media (max-width:992px) {
		.timetable-column{
			width: 25%;
			padding: 2px
		}
	}
	.lightgreenTryIT:checked + label:before {
		border-right: 2px solid #8bc34a;
		border-bottom: 2px solid #8bc34a;
	}
	</style>

	<script>
		$(document).ready(function () {
			$('select').material_select();
			$('.fixed-action-btn').hide();
		});
	</script>

{% endblock %}
