{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
<link rel="stylesheet" href="{% static 'congress/css/attendance.css' %}">
<div ng-controller="attendanceController">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h5>Número de créditos.</h5>
                <p>Obtén el número de créditos que te corresponden buscando por matrícula.</p>
                
                <form>
                    <div class="search-input">
                        <div class="input-field input">
                            <input id="text" type="text" class="validate">
                            <label for="text">Matrícula</label>
                        </div>
                        <a class="waves-effect waves-light btn light-green"><i class="material-icons right">search</i>Buscar</a>
                    </div>
                </form>


                <div class="results" ng-show="hasData">
                    <hr class="horizontal">
                    <div class="result">
                        <p class="key">Matrícula:</p>
                        <p class="value" ng-bind="data.enrollment"></p>
                    </div>
                    <div class="result">
                        <p class="key">Créditos:</p>
                        <p class="value" ng-bind="data.ects + ' ECTS'"></p>
                        <a class="tooltipped" data-position="top" 
                        data-tooltip="El número de créditos como máximo es 2.
                        Los ECTS se calculan: ((numeroCharlasAsistidas + numeroTalleresAsisitidos) 
                        * 2) / ECTS_porCharla">
                            ?
                        </a>
                    </div>
                    <div class="result">
                            <p class="key">Número de charlas este año:</p>
                            <p class="value" ng-bind="data.ntalks"></p>
                        </div>
                    <div class="result">
                        <p class="key">Charlas asistidas (<span ng-bind="data.talks.length"></span>):</p>
                    </div>
                    <div class="s12 m8 offset-m2">
                        <div class="collection">
                            <a href="#!" ng-repeat="talk in data.talks" class="collection-item" ng-bind="talk"></a>
                        </div>
                    </div>
                    <div class="result">
                        <p class="key">Actividades asistidas (<span ng-bind="data.workshops.length"></span>):</p>
                    </div>
                    <div class="s12 m8 offset-m2">
                        <div class="collection">
                            <a href="#!" ng-repeat="activity in data.workshops" class="collection-item" ng-bind="activity">
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}