{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
<link rel="stylesheet" href="{% static 'congress/css/attendance.css' %}">
<div ng-controller="attendanceController">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h5>Número de créditos.</h5>
                <p>Obtén el número de créditos que te corresponden buscando por matrícula.</p>
                
                <form>
                    <div class="search-input">
                        <div class="input-field input">
                            <input id="text" type="text" class="validate">
                            <label for="text">Matrícula</label>
                        </div>
                        <a class="waves-effect waves-light btn light-green">Buscar</a>
                    </div>
                </form>
                <h1>{{data.name}}</h1>

                <div class="results" ng-show="hasData">
                    <h1>sd</h1>
                    <h1>{{ data.name }}</h1>
                    <h1>{{ hasData }}</h1>
                </div>
        </div>
    </div>
</div>
{% endblock %}