{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
	<div ng-controller="editionsController">
		<div id="2016" class="container">
			{% for date in dates %}
				<ul class="collection with-header z-depth-1">
					<li class="collection-header"><h5>{{ date|date:"l, j \d\e F" }}</h5></li>
					{% for session in edition.sessions.all %}
						{% if session.start_date.date == date.date and session.format.name == "Ponencia" %}
							<a class="collection-item waves-effect" href
								 ng-click="openModal({{ session.id }})">
								<span
									class="secondary-text session-hour">{{ session.start_date|date:"H:i" }} - {{ session.end_date|date:"H:i" }}</span>
								<span class="primary-text">{{ session.title }}</span>
							</a>
						{% endif %}
					{% endfor %}
				</ul>
			{% endfor %}

{#			<p>También puedes obtener el programa en formato Google Calendar#}
{#				<a class="light-green-text"#}
{#					 href="https://calendar.google.com/calendar/embed?src=v7m58170o75gv3cnsmp4gvfosc%40group.calendar.google.com&ctz=Africa/Ceuta">aquí</a>#}
{#			</p>#}
		</div>

		<!-- Modal Structure -->
		{% verbatim %}
		<div id="modal" class="modal">
			<div class="modal-content">
				<h5>{{sessionActive.title}}</h5>

				<p class="with-newlines">{{ sessionActive.description }}</p>

				<div ng-show="sessionActive.speakers" class="divider"></div>
				<h5 ng-show="sessionActive.speakers">Ponentes</h5>

				<div class="row">
					<div ng-repeat="speaker in sessionActive.speakers">
						<img ng-src="{{ speaker.picture }}" class="circle col s4 m2">

						<div class="col s8 m4">
							<p><b>{{ speaker.name }}</b></p>

							<p class="secondary-text with-newlines">{{ speaker.bio }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endverbatim %}
	</div>

	<script>
		$(document).ready(function () {
			// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
			$('.modal-trigger').leanModal();
		});
	</script>

{% endblock %}