{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}

	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">
			<div class="container">
				<h1 class="header center light-green-text">Programa</h1>
				<div class="row center">
					<h5 class="header col s12 ">Try IT! {{ edition.year }}</h5>
					<h5 class="header col s12">Del {{ edition.start_date|date:"j" }} al {{ edition.end_date|date:"j \d\e F" }}</h5>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="{% static 'congress/img/parallax03.jpg' %}" alt="fondo"></div>
	</div>


	<div ng-controller="editionsController">
		<div id="2016" class="container">
			{% for date in dates %}
				<ul class="collection with-header z-depth-1">
					<li class="collection-header"><h5>{{ date|date:"l, j \d\e F" }}</h5></li>
					{% if edition.sessions.all %}
						{% for session in edition.sessions.all %}
							{% if session.start_date.date == date.date %}
								{% if session.format.name == "Ponencia" %}
									<li class="collection-item">
										<div class="row" style="margin-bottom: 0px">
											<div class="col s12 m2 l2 waves-effect" href ng-click="openModal({{ session.id }})">
												<p class="secondary-text">{{ session.start_date|date:"H:i" }} - {{ session.end_date|date:"H:i" }}</p>
											</div>
											<div class="col s12 m7 l7 waves-effect" href ng-click="openModal({{ session.id }})">
												<p class="collections-title" style="margin-top: 0px; margin-bottom: 0px">
													{% if session.prize_set.count > 0 %}
														<i id="award" class="fa fa-gift grey-text award"></i>
													{% endif %}
													{{ session.title }}
												</p>
												<p class="collections-content secondary-text" style="margin-top: 0px; margin-bottom: 0px">
												{% for company in session.companies.all %}
													{% if company.sponsor_type %}
														<span class="task-cat darken-3" style="background-color:{{ company.sponsor_type.color }}">{{ company.sponsor_type.name }}</span>
													{% endif %}
												{% endfor %}
													{% if session.companies.all %}
													{% for company in session.companies.all %}
														{% if company %}
															{{ company }}{% if not forloop.last %}, {% endif %}
														{% endif %}
													{% endfor %}
													{% else %}
													{% for speaker in session.speakers.all %}
															{% if speaker %}
																{{ speaker }}{% if not forloop.last %}, {% endif %}
															{% endif %}
														{% endfor %}
													{% endif %}
												</p>
											</div>
											<div class="col s12 m3 l3">

												{% if session.video %}
													<a href="{{ session.video }}" target="_blank">
														<span class="secondary-content" style="margin-left: 0.75rem;">
															<i id="video_extra" class="fa fa-youtube-play fa-2x grey-text"></i>
														</span>
													</a>
												{% endif %}

												{% if session.slide %}
													<a href="{{ session.slide }}" target="_blank">
														<span class="secondary-content">
															<i id="slide" class="fa fa-slideshare fa-2x grey-text"></i>
														</span>
													</a>
												{% endif %}

											</div>
										</div>
								</li>
								{% endif %}
								{% if session.format.name == "Premio" %}
									<li class="collection-item">
										<div class="row valign-wrapper" style="margin-bottom: 0px">
											<div class="col s12 m2 l2">
												<p class="secondary-text">{{ session.start_date|date:"H:i" }} - {{ session.end_date|date:"H:i" }}</p>
											</div>
											<div class="col s12 m10 l10 vertical-align center-align">
												<p class="collections-title" style="margin-top: 0px; margin-bottom: 0px">{{ session.title }}</p>
											</div>
										</div>
									</li>
								{% endif %}
								{% if session.format.name == "Cafe" %}
									<li class="collection-item grey lighten-3">
										<div class="row valign-wrapper" style="margin-bottom: 0px">
											<div class="col s12 m2 l2">
												<p class="secondary-text">{{ session.start_date|date:"H:i" }} - {{ session.end_date|date:"H:i" }}</p>
											</div>
											<div class="col s12 m10 l10 vertical-align center-align">
												<p class="collections-title" style="margin-top: 0px; margin-bottom: 0px">{{ session.title }}</p>
											</div>
										</div>
									</li>
								{% endif %}
								{% if session.format.name == "Descanso" %}
									<li class="collection-item grey lighten-3">
										<div class="row valign-wrapper" style="margin-bottom: 0px">
											<div class="col s12 m2 l2">
												<p class="secondary-text">{{ session.start_date|date:"H:i" }} - {{ session.end_date|date:"H:i" }}</p>
											</div>
											<div class="col s12 m10 l10 vertical-align center-align">
												<p class="collections-title" style="margin-top: 0px; margin-bottom: 0px">{{ session.title }}</p>
											</div>
										</div>
									</li>
								{% endif %}
								{% if session.format.name == "Extra" %}
									<li class="collection-item">
										<div class="row valign-wrapper" style="margin-bottom: 0px">
											<div class="col s12 m2 l2 waves-effect" href ng-click="openModal({{ session.id }})">
												<p class="secondary-text">{{ session.start_date|date:"H:i" }} - {{ session.end_date|date:"H:i" }}</p>
											</div>
											<div class="col s12 m7 l7 waves-effect" href ng-click="openModal({{ session.id }})">
												<p class="collections-title" style="margin-top: 0px; margin-bottom: 0px">
													{{ session.title }}
												</p>
												<p class="collections-content secondary-text" style="margin-top: 0px; margin-bottom: 0px">
													{% for company in session.companies.all %}
														{% if company %}
															{{ company }}{% if not forloop.last %}, {% endif %}
														{% endif %}
													{% endfor %}
												</p>
											</div>
											<div class="col s12 m3 l3">
											</div>
										</div>
									</li>
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endif %}
				</ul>
			{% endfor %}

			{% if edition.google_calendar_url %}
				<p>También puedes obtener el programa en formato Google Calendar
					<a class="light-green-text" href="{{ edition.google_calendar_url }}">aquí</a>
				</p>
			{% endif %}

		</div>

		<!-- Modal Structure -->
		{% verbatim %}
		<div id="modal" class="modal" ng-class="{ 'modal-fixed-footer': sessionActive.url }">
			<div style="background-color:#8BC34A;min-height:10px;"></div>
			<div class="modal-content">

				<!--Header-->
				<div class="row valign-wrapper">
					<div ng-hide="sessionActive.logo" class="col s12 m12 l12">
						<h5>{{ sessionActive.title }}</h5>
					</div>
					<div ng-show="sessionActive.logo" class ="col s12 m10 l10">
						<h5>{{ sessionActive.title }}</h5>
					</div>
					<img ng-show="sessionActive.logo" class="col s12 m2 l2 valign hide-on-small-only"
						 ng-src="{{ sessionActive.logo }}">
				</div>

				<!-- Basic info desktop -->
				<div class="row hide-on-small-only" style="margin-bottom:0px;">
					<div class="col s12 m12 l12">
						<p ng-show="sessionActive.company" class="truncate center-align secondary-text" style="margin-top:0px;margin-bottom:0px;">{{ sessionActive.company }}</p>
					</div>
					<div class="col s12 m4 l4">
						<p class="truncate center-align secondary-text" style="margin-bottom:2px;">{{ sessionActive.start_date | date:"EEEE, dd 'de' MMMM" }}</p>
					</div>
					<div class="col s12 m4 l4">
						<p class="truncate center-align secondary-text" style="margin-bottom:2px;">{{ sessionActive.start_date | date:"HH:mm" }} - {{ sessionActive.end_date | date:"HH:mm" }}</p>
					</div>
					<div class="col s12 m4 l4">
						 <p class="truncate center-align secondary-text">{{ sessionActive.rooms }}</p>
					</div>

				</div>

				<!--Basic info for mobile-->
				<div class="row hide-on-med-and-up" style="margin-bottom:0px;">
					<div class="col s12 m4 l4 hide-on-med-and-up">
						<p ng-show="sessionActive.company" class="truncate center-align secondary-text" style="margin-top:0px;margin-bottom:0px;">{{ sessionActive.company }}</p>
					</div>
					<div class="col s12 m6 l4">
						<p class="truncate center-align secondary-text" style="margin-top:0px;margin-bottom:0px;">{{ sessionActive.start_date | date:"EEEE, dd 'de' MMMM" }}</p>
					</div>
					<div class="col s12 m6 l4" >
						<p class="truncate center-align secondary-text" style="margin-top:0px;margin-bottom:0px;">{{ sessionActive.start_date | date:"HH:mm" }} - {{ sessionActive.end_date | date:"HH:mm" }}</p>
					</div>
					<div class="col s12 m4 l4">
						 <p class="truncate center-align secondary-text" style="margin-top:0px;margin-bottom:0px;">{{ sessionActive.rooms }}</p>
					</div>
				</div>

				<!--Explanation of the event-->
				<div class="row">
						<div class ="col s12 m12 l12">
								<p class="with-newlines" style="text-align:justify">{{ sessionActive.description }}</p>
						</div>
				</div>



				<!--Ponentes -->

				<div ng-show="sessionActive.speakers" class="divider"></div>

				<div ng-show="sessionActive.speakers"  class="row">
						<div class="col s12 m12 l12">
								<h5>Ponentes</h5>
						</div>
				</div>

				<!--Example Ponent Row-->
				<div ng-show="sessionActive.speakers" ng-repeat="speaker in sessionActive.speakers" class="row card grey lighten-5" style="padding-top: 20px;margin-button:40px;">

					<!--Desktop view-->
					<div class="hide-on-small-only">
						<img ng-show="speaker.picture" ng-src="{{ speaker.picture }}" class="circle col s3 offset-s6 m2 l2">
						<div class="col s12 m10 l10">
							<div class="row">
								<div class="col s12 m7 l7">
									<p class="truncate left-align" style="text-transform: uppercase;margin-bottom: 10px;margin-top: 5px;"><b>{{ speaker.name }}</b></p>
									<p class="truncate left-align secondary-text" style="margin-bottom: 10px;margin-top: 5px;">{{ speaker.company }}</p>
								</div>
								<div class="col s12 m5 l5 right-align">
									<a ng-show="speaker.personal_web" href="{{ speaker.personal_web }}">
										<span class="fa-stack fa-lg"><i id="personal_web" class="fa fa-code grey-text"></i></span>
									</a>
									<a ng-show="speaker.twitter_profile" href="{{ speaker.twitter_profile }}">
										<span class="fa-stack fa-lg"><i id="twitter_profile" class="fa fa-twitter grey-text"></i></span>
									</a>
									<a ng-show="speaker.facebook_profile" href="{{ speaker.facebook_profile }}">
										<span class="fa-stack fa-lg"><i id="facebook_profile" class="fa fa-facebook grey-text"></i></span>
									</a>
									<a ng-show="speaker.linkedin_profile" href="{{ speaker.linkedin_profile }}">
										<span class="fa-stack fa-lg"><i id="linkedin_profile" class="fa fa-linkedin-square grey-text"></i></span>
									</a>
									<a ng-show="speaker.googleplus_profile" href="{{ speaker.googleplus_profile }}">
										<span class="fa-stack fa-lg"><i id="googleplus_profile" class="fa fa-google-plus-official grey-text"></i></span>
									</a>
									<a ng-show="speaker.github_profile" href="{{ speaker.github_profile }}">
										<span class="fa-stack fa-lg"><i id="github_profile" class="fa fa-github grey-text"></i></span>
									</a>
									<a ng-show="speaker.gitlab_profile" href="{{ speaker.gitlab_profile }}">
										<span class="fa-stack fa-lg"><i id="gitlab_profile" class="fa fa-gitlab grey-text"></i></span>
									</a>
								</div>
							</div>
						</div>
						<p class="col s12 m12 l12" style="text-align:justify;margin-top:0px;margin-top:0px" class="secondary-text with-newlines">{{ speaker.bio }}</p>
					</div>



					<!--Mobile view-->
					<div class="hide-on-med-and-up">
						<img ng-show="speaker.picture" ng-src="{{ speaker.picture }}" class="circle col s6 offset-s3 m2 l2" style="margin-bottom:5px;">
						<div class="col s12 m10 l10">
							<div class="row">
								<div class="col s12 m7 l7">
									<p class="truncate center-align" style="margin-bottom: 10px;margin-top: 5px;"><b>{{ speaker.name }}</b></p>
									<p class="truncate center-align secondary-text" style="margin-bottom: 10px;margin-top: 5px;">{{ speaker.company }}</p>
								</div>
								<div class="col s12 m5 l5 center-align">
									<a ng-show="speaker.personal_web" href="{{ speaker.personal_web }}"><span class="fa-stack fa-lg">
										<i id="personal_web" class="fa fa-code grey-text"></i></span>
									</a>
									<a ng-show="speaker.twitter_profile" href="{{ speaker.twitter_profile }}">
										<span class="fa-stack fa-lg"><i id="twitter_profile" class="fa fa-twitter grey-text"></i></span>
									</a>
									<a ng-show="speaker.facebook_profile" href="{{ speaker.facebook_profile }}">
										<span class="fa-stack fa-lg"><i id="facebook_profile" class="fa fa-facebook grey-text"></i></span>
									</a>
									<a ng-show="speaker.linkedin_profile" href="{{ speaker.linkedin_profile }}">
										<span class="fa-stack fa-lg"><i id="linkedin_profile" class="fa fa-linkedin-square grey-text"></i></span>
									</a>
									<a ng-show="speaker.googleplus_profile" href="{{ speaker.googleplus_profile }}">
										<span class="fa-stack fa-lg"><i id="googleplus_profile" class="fa fa-google-plus-official grey-text"></i></span>
									</a>
									<a ng-show="speaker.github_profile" href="{{ speaker.github_profile }}">
										<span class="fa-stack fa-lg"><i id="github_profile" class="fa fa-github grey-text"></i></span>
									</a>
									<a ng-show="speaker.gitlab_profile" href="{{ speaker.gitlab_profile }}">
										<span class="fa-stack fa-lg"><i id="gitlab_profile" class="fa fa-gitlab grey-text"></i></span>
									</a>
								</div>
							</div>
							<p class="col s12 m12 l12" style="text-align:justify;margin-top:0px;margin-top:0px" class="secondary-text with-newlines">{{ speaker.bio }}</p>
						</div>
					</div>


				</div>
			</div>
			<div ng-show="sessionActive.url" class="modal-footer col s12 m12 l12">
				<a href="{{ sessionActive.url }}" target="_blank" class="white-text waves-effect waves-light btn light-green modal-action modal-close waves-effect waves-green btn-flat tooltipped"
					 data-position="top" data-delay="50" data-tooltip="Enlace al registro externo del la ponencia.">Registro externo</a>
			</div>
		</div>
		{% endverbatim %}


	</div>

	<script>

		$(document).ready(function () {
			$('.modal').modal();

			$(".parallax").parallax();
		});

	</script>

{% endblock %}