<!doctype html>
<html ng-app="ngApp">{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Try IT!</title>

	<!-- favicon -->
	<link rel="shortcut icon" href="{% static 'congress/img/logo.png' %}"/>
	<!-- materializecss -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
	<!-- material icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- fullcalendar.io -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css">
	<!-- try it css -->
	<link href="{% static 'congress/css/style.css' %}" rel="stylesheet">

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<!-- ============================ -->
<!-- navigation bar								-->
<!-- ============================ -->
<nav class="grey darken-3">
	<div class="container">
		<div class="nav-wrapper">
			<a href="{% url 'congress:home' %}" class="brand-logo">
				<img src="{% static 'congress/img/logo.png' %}" alt="Try IT!">
			</a>
			<a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				{#				<li><a href="{% url 'congress:activities' %}">Programa</a></li>#}
				{#				<li><a href="{% url 'congress:workshops' %}">Talleres</a></li>#}
				{#				<li><a href="{% url 'congress:contests' %}">Concursos</a></li>#}
				<li><a href="{% url 'congress:last-editions' %}">Ediciones anteriores</a></li>
				<li><a href="{% url 'congress:register' %}">Registro</a></li>
				<li><a href="{% url 'congress:contact' %}">Contacto</a></li>
			</ul>
			<ul class="side-nav" id="mobile">
				{#				<li><a href="{% url 'congress:activities' %}">Programa</a></li>#}
				{#				<li><a href="{% url 'congress:workshops' %}">Talleres</a></li>#}
				{#				<li><a href="{% url 'congress:contests' %}">Concursos</a></li>#}
				<li><a href="{% url 'congress:last-editions' %}">Ediciones anteriores</a></li>
				<li><a href="{% url 'congress:register' %}">Registro</a></li>
				<li><a href="{% url 'congress:contact' %}">Contacto</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- ============================ -->
<!-- content											-->
<!-- ============================ -->
{% block content %}{% endblock %}


<!-- ============================ -->
<!-- footer 											-->
<!-- ============================ -->
<footer class="page-footer grey darken-3">
	<div class="container">
		<div class="row">
			<div class="col l4 s12">
				<div class="center">
					<br>
					<img class="daetsiinf_logo" src="{% static 'congress/img/daetsiinf.png' %}">
				</div>
			</div>
			<div class="col l4 offset-l4 s12">
				<h5 class="white-text">Enlaces</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="{% url 'congress:contact' %}">Contacto</a></li>
					<li><a class="twitter-follow-button" href="https://twitter.com/tryit_upm">Seguir a Try IT!</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2017 Copyright Delegación de Alumnos ETSIINF
			<a class="grey-text text-lighten-4 right" href="http://da.etsiinf.upm.es">Web de Delegación de Alumnos</a>
		</div>
	</div>
</footer>


<!-- materializecss -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
<!-- angularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
<!-- angular UI router -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<!-- momentjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<!-- fullcalendar.io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>


<!-- angular application -->
<script src="{% static 'congress/angular/app.js' %}"></script>
<!-- ============================ -->
<!-- materialize initialization		-->
<!-- ============================ -->
<script>
	$(document).ready(function () {
		$(".button-collapse").sideNav();
	});
</script>
<!-- ============================ -->
<!-- twitter button init
<!-- ============================ -->
<script src="{% static 'congress/js/twiiter_btn.js' %}"></script>
</body>
</html>