<!doctype html>
<html ng-app="ngApp" xmlns="http://www.w3.org/1999/html">{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Try IT!</title>

	<!-- favicon -->
	<link rel="shortcut icon" href="{% static 'congress/img/logo.png' %}"/>
	<!-- materializecss -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<!-- material icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- fullcalendar.io -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css">
	<!-- try it css -->
	<link href="{% static 'congress/css/style.css' %}" rel="stylesheet">
	<!-- font-awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" /> -->

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<!-- ============================ -->
<!-- navigation bar								-->
<!-- ============================ -->

<header>
	<div class="navbar-fixed">
		<nav class="grey darken-3">
			<div class="container">
				<div class="nav-wrapper">
					<a href="{% url 'congress:home' %}" class="brand-logo">
						<img src="{% static 'congress/img/logo.png' %}" alt="Try IT!">
					</a>
					<a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
{#						<li><a href="{% url 'congress:activities' %}">Programa</a></li>#}
{#						<li><a href="{% url 'congress:workshops' %}">Talleres</a></li>#}
{#						<li><a href="{% url 'congress:contests' %}">Concursos</a></li>#}
						<li><a href="{% url 'congress:last-editions' %}">Ediciones anteriores</a></li>
						<li><a href="{% url 'register:register' %}">Call for papers</a></li>
						<li><a href="{% url 'congress:contact' %}">Contacto</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<ul class="side-nav" id="mobile">
{#		<li><a href="{% url 'congress:activities' %}">Programa</a></li>#}
{#		<li><a href="{% url 'congress:workshops' %}">Talleres</a></li>#}
{#		<li><a href="{% url 'congress:contests' %}">Concursos</a></li>#}
		<li><a href="{% url 'congress:last-editions' %}">Ediciones anteriores</a></li>
		<li><a href="{% url 'register:register' %}">Call for papers</a></li>
		<li><a href="{% url 'congress:contact' %}">Contacto</a></li>
	</ul>
</header>


<!-- ============================ -->
<!-- float button 								-->
<!-- ============================ -->
{#<div class="fixed-action-btn">#}
{#	<a href="{% url 'congress:tickets' %}"#}
{#		 class="btn-floating btn-large btn waves-effect waves-light light-green tooltipped"#}
{#		 ddata-delay="50" data-position="left" data-tooltip="Enlace al registro del evento.">#}
{#		<i class="fa fa-ticket" aria-hidden="true"></i>#}
{#	</a>#}
{#</div>#}

<!-- ============================ -->
<!-- content											-->
<!-- ============================ -->
{% block content %}{% endblock %}


<!-- ============================ -->
<!-- footer 											-->
<!-- ============================ -->
<footer class="page-footer grey darken-3">
	<!--parte izquierda-->
	<div class="enlaces">
		<p>Enlaces</p>
		<div class="contact-info">
			<a href="https://twitter.com/tryit_upm"><i class="fa fa-twitter"></i></a>
			<a class="grey-text text-lighten-3" href="{% url 'congress:contact' %}">Contacta con nosotros</a>
		</div>
	</div>
	<!--parte derecha-->
	<div class="delegacion">
		<div class="container-logo">
			<a href="http://da.etsiinf.upm.es"><img class="daetsiinf_logo" src="{% static 'congress/img/daetsiinf.png' %}"></a>
			<div class="copyright-disclaimer"></div>
			<p><a href="http://da.etsiinf.upm.es">Delegación de Alumnos ETSIINF</a></p>
		</div>
	</div>
</footer>


<!-- materializecss -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<!-- angularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.2/angular-locale_es-es.min.js"></script>
<!-- angular UI router -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<!-- momentjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<!-- fullcalendar.io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>


<!-- angular application -->
<script src="{% static 'congress/angular/app.js' %}?v=1.1"></script>
<!-- ============================ -->
<!-- materialize initialization		-->
<!-- ============================ -->
<script>
var fullYear = (new Date()).getFullYear();
$('.copyright-disclaimer').html("&copy; "+ fullYear + " copyright");
	$(document).ready(function () {
		$(".button-collapse").sideNav();
	});
</script>
<!-- ============================ -->
<!-- twitter button init -->
<!-- ============================ -->
</body>
</html>
