{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
	<div class="row">
		<div class="col s12 m8 offset-m2">
			<div class="card-panel">
				<h6 class="center-align light-green-text text-darken-2">¿Tienes dudas o problemas con la web? ¿Has solicitado tu entrada y quieres más información?</h6>
				<div class="center-align">
					<a href="tel:913367410" class="waves-effect waves-light btn light-green"><i class="material-icons">phone</i> 913367410</a>
					<a href="mailto:tryit@fi.upm.es" class="waves-effect waves-light btn light-green"><i class="material-icons">email</i> tryit@fi.upm.es</a>
				</div>
				<h6 class="center-align light-green-text text-darken-2">¿Estás interesado en patrocinar el evento?</h6>
				<div class="center-align">
					<a href="tel:913367410" class="waves-effect waves-light btn light-green"><i class="material-icons">info</i> información</a>
					<a href="mailto:tryit@fi.upm.es" class="waves-effect waves-light btn light-green">formulario de patrocinio</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}