{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
	<div class="container ticket-card">
		<div class="card">
			<div class="card-content">
				<h4 class="center">Sorteo Twitter</h4>
				<br>
				<div class="row">
					<img class="responsive-img col m3 hide-on-small-only" style="width:200px"
							 src="{% static 'congress/img/contests/2018_twitter.jpg' %}">
					<div class="secondary-text col m9 s12 flow-text">
						Busca en nuestra cuenta <a class="light-green-text text-darken-2" href="https://twitter.com/tryit_upm">@tryit_upm</a>
						el tweet fjiado y haz retweet para poder participar en el sorteo.
						<br><br>
						Recuerda que debes seguir a la cuenta <a class="light-green-text text-darken-2" href="https://twitter.com/tryit_upm">@tryit_upm</a> y
						asistir a un mínimo de 6 charlas para poder participar.
						<br><br>
						Disfruta del congreso, más información y bases del sorteo
						<a class="light-green-text text-darken-2" href="{% static 'congress/bases_tryit2018.pdf' %}">aquí.</a>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<h4 class="center">Sorteo Instagram</h4>
				<br>
				<div class="row">
					<img class="responsive-img col m3 hide-on-small-only"  style="width:200px"
							 src="{% static 'congress/img/contests/2018_instagram.jpg' %}">
					<div class="secondary-text col m9 s12 flow-text">
						Publica en Instagram tus mejores momentos en el congreso con
						<a class="light-green-text text-darken-2" href="https://www.instagram.com/explore/tags/tryit2018/">#TryIT2018</a> e impresiona a los demas con tus
						fotografías a la vez que participas en nuestro sorteo.
						<br>
						Debes haber asistido al menos a 1 charla para poder participar.
						<br><br>
						Disfruta del congreso, más información y bases del sorteo
						<a class="light-green-text text-darken-2" href="{% static 'congress/bases_tryit2018.pdf' %}">aquí.</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}