{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
	<div class="row">
		<div class="col s12 m8 offset-m2">
			<div class="card-panel">
				<h6 class="center-align light-green-text text-darken-2">¿Tienes una duda? | ¿Tienes problemas con la web? | ¿Quieres participar con la organización?</h6>
				<ul class="center-align">
					<li>
						<a href="mailto:tryit@fi.upm.es"><i class="material-icons">email</i> tryit@fi.upm.es</a>
					</li>
					<li>
						<a href="tel:913367410"><i class="material-icons">phone</i> 913367410</a>
					</li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}