{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
	<div class="container ticket-card">
		<div class="card">
			<div class="card-content">
				<h4 class="center">Concurso Twitter</h4>
				<br>
				<div class="row">
					<img class="responsive-img col m3 hide-on-small-only" width="250"
							 src="{% static 'congress/img/tryittwitter.jpg' %}">
					<div class="secondary-text col m9 s12 flow-text">
						El tweet más original, que mejor defina el ambiente y la energía Try IT! 2017 será premiado con el primer
						premio de este concurso ¡Un Chromecast!
						<br>
						Además el tweet más retweeteado ¡También tiene premio! ¡Una Xiaomi Mi Band 2!
						<br><br>
						Recuerda que para participar tienes
						que incluir el hashtag <span class="light-green-text text-darken-2">#TryIT2017</span> y seguir a la cuenta
						<a class="light-green-text text-darken-2" href="https://twitter.com/tryit_upm">@tryit_upm</a>.
						<br><br>
						Disfruta del congreso, más información y bases del concurso
						<a class="light-green-text text-darken-2" href="{% static 'congress/bases_tryit2017.pdf' %}">aquí.</a>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<h4 class="center">Concurso Instagram</h4>
				<br>
				<div class="row">
					<img class="responsive-img col m3 hide-on-small-only" width="250"
							 src="{% static 'congress/img/tryitinstagram.jpg' %}">
					<div class="secondary-text col m9 s12 flow-text">
						Publica en Instagram tus mejores momentos en el congreso con
						<span class="light-green-text text-darken-2">#TryIT2017</span> e impresiona a los demas con tus
						fotografías a la vez que participaras en nuestro concurso.
						<br><br>
						¡Recuerda! La foto elegida por el jurado se lleva una cámara instantanea (Fujifilm Instax Mini 8) y la
						foto con más likes una Xiaomi Mi Band 2.
						<br><br>
						Disfruta del congreso, más información y bases del concurso
						<a class="light-green-text text-darken-2" href="{% static 'congress/bases_tryit2017.pdf' %}">aquí.</a>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<h4 class="center">THE HUNT</h4>
				<br>
				<div class="row">
					<img class="responsive-img col m3 hide-on-small-only" width="250"
							 src="{% static 'congress/img/tryithunt.jpg' %}">
					<div class="secondary-text col m9 s12 flow-text">
						Deberás seguir los mensajes ocultos que se te irán presentado a lo largo de tu búsqueda, la primera pista
						saldrá a la luz el martes 28 de Febrero, y desde ahí solo uno será capaz de llegar a la última pista.
						<br>
						Aquel que llegue primero, obtendrá el premio (BB-8 Sphero). ¡Buena suerte!
						<br><br>
						Disfruta del congreso, más información y bases del concurso
						<a class="light-green-text text-darken-2" href="{% static 'congress/bases_tryit2017.pdf' %}">aquí.</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}