{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">
			<div class="container">
				<br><br>
				<h1 class="header center light-green-text">Try IT! 2020</h1>
				<div class="row center">
					<h5 class="header col s12 ">Bienvenido a la octava edición</h5>
					<h5 class="header col s12">Del 16 al 20 de Marzo</h5>
				</div>
				<div class="row center">
 					<a href="{% url 'tickets:tickets' %}" class="btn-large waves-effect waves-light btn light-green">Consigue tu entrada</a>
				</div>
				<br><br>
			</div>
		</div>
		<div class="parallax"><img src="{% static 'congress/img/parallax03.jpg' %}" alt="Imagen Background TryIt 2018"></div>
	</div>

	<!-- ========================== -->
	<!-- intro						-->
	<!-- ========================== -->
	<div class="section white">
		<div class="row container">
			<h2 class="header light-green-text center-align">¿Qué ofrecemos esta edición?</h2>
			<p class="grey-text text-darken-3 lighten-3 center-align"> Un congreso orientado a difundir las tendencias en el sector de las tecnologías de la información y la informática. </p>
			<div class="row">
				<div class="col m4">
					<div class="center promo">
						<i class="material-icons light-green-text">business</i>
						<p class="promo-caption light-green-text text-darken-2">Empresas punteras</p>
						<p class="light center">Como en otras ediciones, este año también contaremos con empresas líderes de la talla de Google, Microsoft, IBM y muchas más.</p>
					</div>
				</div>
				<div class="col m4">
					<div class="center promo">
						<i class="material-icons light-green-text">thumbs_up_down</i>
						<p class="promo-caption light-green-text text-darken-2">Temática diversa</p>
						<p class="light center">Podrás asistir a charlas y talleres de programación web, Big Data, cloud-computing, aplicaciones móviles...</p>
					</div>
				</div>
				<div class="col m4">
					<div class="center promo">
						<i class="material-icons light-green-text">event_seat</i>
						<p class="promo-caption light-green-text text-darken-2">Ponencias</p>
						<p class="light center">Durante el evento, podrás asistir a una amplia variedad de charlas en el salón de actos del Centro.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col m4">
					<div class="center promo">
						<i class="material-icons light-green-text">build</i>
						<p class="promo-caption light-green-text text-darken-2">Talleres</p>
						<p class="light center">La finalidad del congreso es que "pruebes" las tecnologías, por tanto, ofrecemos talleres de temática diversa para un aprendizaje más práctico.</p>
					</div>
				</div>
				<div class="col m4">
					<div class="center promo">
						<i class="material-icons light-green-text">card_giftcard</i>
						<p class="promo-caption light-green-text text-darken-2">Acceso gratuito</p>
						<p class="light center">Try IT! lo organiza Delegación de Alumnos de la ETSI Informáticos de la Universidad
							Politécnica de Madrid. Está hecho por y para estudiantes. Perseguimos
							la formación y no el lucro.</p>
					</div>
				</div>
				<div class="col m4">
					<div class="center promo">
						<i class="material-icons light-green-text">assignment</i>
						<p class="promo-caption light-green-text text-darken-2">Reconocimiento de créditos</p>
						<p class="light center">Try IT! se incluye en el Catálogo General de Reconocimiento de Créditos de la UPM.
							Asiste, registra tu acceso y solicita tu reconocimiento de créditos.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="parallax-container">
			<div class="row container center-align" style="margin-top:140px;">
				<h2 class="header light-green-text">Patrocinadores</h2>
				<br>

			</div>
		<div class="parallax"><img src="{% static 'congress/img/parallax02.jpg' %}" alt="Background Parallax TryIt 2018"></div>
	</div>
	<!-- ========================== -->
	<!-- partners					-->
	<!-- ========================== -->
	<link rel="stylesheet" href="{% static 'congress/css/home.css' %}">
	<section class="partners container">
		<div class="">
			<h4 class="partner-title platinum">
				PLATINO
			</h4>
			<div class="partners-logos partners-logos-lg">
				<div class="partner-logo partner-logo-lg" style="height:30px">
					<div>
						<a href="https://xitaso.com/">
							<img style="max-width: 150px" src="https://xitaso.com/wp-content/uploads/2017/04/XITASO-Logo.png"
								alt="Logo XITAZO - TryIt 2020">
						</a>
					</div>
				</div>
			</div>
		<div class="">
			<h4 class="partner-title gold">
				ORO
			</h4>
			<div class="partners-logos partners-logos-lg">
				<div class="partner-logo partner-logo-lg">
					<div>
						<a href="https://www.gmv.com/es/">
							<img style="max-width: 126px"src="{% static 'congress/img/2019/partners/2019_oro_gmv.png' %}" alt="Logo GMV - TryIt 2020">
						</a>
					</div>
				</div>
				<div class="partner-logo partner-logo-md">
					<div style="width:100%; bottom:-30px;left:-10px">
						<a href="https://www.managementsolutions.com/es/inicio">
							<img src="{% static 'congress/img/2019/partners/2019_silver_mso.jpg' %}" alt="Logo MSO - TryIt 2020">
					</div>
				</div>
				<div class="partner-logo partner-logo-lg">
					<div style="transform:scale(0.9); right: -20px; bottom:-15px">
						<a href="https://the-cocktail.com/">
							<img style="transform: scale(1.3);" src="{% static 'congress/img/2019/partners/2019_oro_thecocktail.png' %}"
								alt="Logo TheCocktail - TryIt 2020">
						</a>
					</div>
				</div>
				<div class="partner-logo partner-logo-md">
					<div style="">
						<a href="https://www.neoris.com/">
							<img style="width:170px;object-fit: cover;"
								src="{% static 'congress/img/2019/partners/2019_silver_neoris.png' %}" alt="Logo Neoris - TryIt 2020">
						</a>
					</div>
				</div>
				
				<div class="partner-logo partner-logo-lg">
					<div style="transform: scale(0.8);">
						<a href="https://www2.deloitte.com/">
							<img src="{% static 'congress/img/2020/logo_deloitte_negro.png' %}" alt="Logo Deloitte - TryIt 2020">
						</a>
					</div>
				</div>

				<div class="partners-logos partners-logos-sm">
					<div class="partner-logo partner-logo-sm">
						<div style="width:100%; transform: scale(1.4);">
							<a href="https://www.bbvaitspain.com">
								<img src="{% static 'congress/img/2020/logo_it_espana_rgb.png' %}" alt="Logo BBVA IT - TryIt 2020">
							</a>
						</div>
					</div>
				</div>

				<div class="partner-logo partner-logo-md">
					<div style="bottom:-50px; transform: scale(1.2);">
						<a href="https://www.everis.com/spain/es">
							<img src="{% static 'congress/img/2020/everis.png' %}" alt="Logo Everis - TryIt 2020">
						</a>
					</div>
				</div>

				<div class="partner-logo partner-logo-md">
					<div  style="bottom:-10px;">
						<a href="https://www.iecisa.com/en/index.html">
							<img src="https://www.nochetelecovlc.org/ntv2015/files/2015/05/FranjaIECISA.jpg" alt" alt" alt="Logo IECISA - TryIt 2020">
						</a>
					</div>
				</div>
				
				<div class="partner-logo partner-logo-md">
					<div>
						<a href="https://www.accenture.com/es-es">
							<img src="{% static 'congress/img/2020/Acc_Logo_Full_Black_RGB.png' %}" alt="Logo Accenture - TryIt 2020">
						</a>
					</div>
				</div>

				<div class="partner-logo partner-logo-md">
					<div  style="bottom:-20px;">
						<a href="https://www.indracompany.com/">
							<img src="{% static 'congress/img/2020/Logo_Indra_Positivo_A.png' %}"
								alt="Logo Indra - TryIt 2020">
						</a>
					</div>
				</div>

				<div class="partner-logo partner-logo-md">
					<div>
						<a href="https://www.guidewire.com/">
							<img src="{% static 'congress/img/2020/guidewire.jpg' %}" alt="Logo Guidewire - TryIt 2020">
						</a>
					</div>
				</div>

				<div class="partner-logo partner-logo-md">
					<div  style="bottom:-10px;" >
						<a href="https://www.ey.com/es/es/services/advisory">
							<img src="{% static 'congress/img/2020/EY_Log_Beam_Tag_Stacked_RGB_EN.jpg' %}" alt="Logo Ey - TryIt 2020">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="" >
			<h4 class="partner-title silver"style="padding-top:40px">
				PLATA
			</h4>
			<div class="partners-logos partners-logos-md">
				<div class="partner-logo partner-logo-lg">
					<div  style="transform: scale(0.6);top:-30px" >
						<a href="https://www.idom.com/es/">
							<img src="{% static 'congress/img/2019/partners/2019_oro_idom.png' %}" alt="Logo IDOM - TryIt 2020">
						</a>
					</div>
				</div>
				<div class="partner-logo partner-logo-md">
					<div style="transform: scale(0.8);bottom:-15px">
						<a href="https://babel.es/es">
							<img style="margin-bottom: 22px;" src="https://cdn.domestika.org/c_fill,dpr_auto,t_base_params.format_jpg/v1568290887/job-covers/000/073/694/73694-original.png?1568290887" alt="Logo Babel - TryIt 2020">
						</a>
					</div>
				</div>

				<div class="partner-logo partner-logo-md">
					<div style="width:100%; transform: scale(0.8);" >
						<a href="https://www.amazon.com/">
							<img style="margin-bottom: 17px;" src="{% static 'congress/img/2020/Amazon_logo.svg' %}" alt="Logo Amazon - TryIt 2020">
						</a>
					</div>
				</div>
				
			</div>
		</div>

		<div class="">
			<h4 class="partner-title bronze">
				BRONCE
			</h4>
			<div class="partners-logos partners-logos-sm">
				<div class="partner-logo partner-logo-sm">
					<div style="width:100%; ">
						<a href="https://www.qlik.com/es-es">
							<img src="{% static 'congress/img/2020/Qlik-Logo_RGB.png' %}" alt="Logo QLIK - TryIt 2020">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="separator" style="margin-top:90px;margin-bottom:30px"></div>

	{% if urls.hashcode %}
	<div class="container">
		<div class="row event__box center">
			<img style="width:100%" src="{% static 'congress/img/2019/2019_hashcode.png' %}" alt="Event 2019">
			<div class="event__text center">
				<a  href="https://g.co/hashcode" class="btn-large waves-effect waves-light btn blue darken-3" style="margin:5px;">Inscribirse
				</a>
				<a  href="/hashcode" class="btn-large waves-effect waves-light btn blue-grey darken-4" style="margin:5px;">más información
				</a>
			</div>
		</div>
	</div>
	<div class="separator" style="opacity:0;margin-top:70px;"></div>
	{%endif%}
	<!-- ========================== -->
	<!-- editions										-->
	<!-- ========================== -->
{#	<div class="section grey darken-3">#}
{#		<div class="row container center-align">#}
{#			<h2 class="header light-green-text">Otras ediciones</h2>#}
{#			<p class="white-text">#}
{#				¿Te has perdido las otras ediciones?#}
{#			</p>#}
{#			<p class="white-text">#}
{#				Échale un ojo a la programación de otros años...#}
{#			</p>#}
{#			<a class="waves-effect waves-light btn light-green" href="{% url 'congress:last-editions' %}">aquí</a>#}
{#		</div>#}
{#	</div>#}

	<div class="parallax-container">
	<div class="container">
		<div class="row center" style="margin-top:90px;">
			<h3 class="header light-green-text">¿Te perdiste la edición del año pasado?</h3>
			<br>
			<h5 class="header col s12 center ">¡Descubre de qué se habló otros años!</h5>
		</div>
		<div class="row center">
			<a  href="{% url 'congress:last-editions' %}" class="btn-large waves-effect waves-light btn light-green">Ver otras ediciones
			</a>
		</div>
		<br><br>

	</div>
		<div class="parallax"><img src="{% static 'congress/img/parallax02.jpg' %}"></div>
	</div>

	<!-- ========================== -->
	<!-- localization				-->
	<!-- ========================== -->
	<link href="{% static 'congress/css/localization.css' %}?v=1.0" rel="stylesheet">
	<div class="section white">
		<div class="row container center-align">
			<h2 class="header light-green-text">¿Dónde estamos?</h2>
			<p class="grey-text text-darken-3 lighten-3">
				Como todos los años, <span class="light-green-text text-darken-2">Try IT!</span> tiene lugar en la Escuela
				Técnica Superior de Ingenieros Informáticos de la Universidad Politécnica de Madrid, dentro del Campus de
				Montegancedo.
			</p>
			<div class="row map">
				 <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
				<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
				<div id="map" class="map"></div>
				<script type="text/javascript">
				  var map = new ol.Map({
					target: 'map',
					layers: [
					  new ol.layer.Tile({
						source: new ol.source.OSM()
					  })
					],
					view: new ol.View({
					  center: ol.proj.fromLonLat([-3.8394491609868737, 40.405042500124864]),
					  zoom: 18
					})
				  });
				</script>
			</div>
		</div>
	</div>




	<script>
		$(document).ready(function () {
			$(".parallax").parallax();
		});
	</script>
{% endblock %}