{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">
			<div class="container">
				<br><br>
				<h1 class="header center light-green-text">Try IT! 2018</h1>
				<div class="row center">
					<h5 class="header col s12 ">Bienvenido a la sexta edición</h5>
					<h5 class="header col s12">Del 19 al 22 de Marzo</h5>
				</div>
				<div class="row center">
 					<a href="{% url 'tickets:tickets' %}" class="btn-large waves-effect waves-light btn light-green">Consigue tu entrada</a>
				</div>
				<br><br>
			</div>
		</div>
		<div class="parallax"><img src="{% static 'congress/img/parallax03.jpg' %}" alt="fondo"></div>
	</div>

	<!-- ========================== -->
	<!-- intro											-->
	<!-- ========================== -->
	<div class="section white">
		<div class="row container">
			<h2 class="header light-green-text center-align">¿Qué ofrecemos esta edición?</h2>
			<p class="grey-text text-darken-3 lighten-3 center-align"> Un congreso orientado a difundir las tendencias en el sector de las tecnologías de la información y la informática. </p>
			<div class="row">
				<div class="col m4">
					<div class="center promo">
						<i class="material-icons light-green-text">business</i>
						<p class="promo-caption light-green-text text-darken-2">Empresas punteras</p>
						<p class="light center">Como en otras ediciones, este año también contaremos con empresas líderes de la talla de Google, Microsoft, IBM y muchas más.</p>
					</div>
				</div>
				<div class="col m4">
					<div class="center promo">
						<i class="material-icons light-green-text">thumbs_up_down</i>
						<p class="promo-caption light-green-text text-darken-2">Temática diversa</p>
						<p class="light center">Podrás asistir a charlas y talleres de programación web, Big Data, cloud-computing, aplicaciones móviles...</p>
					</div>
				</div>
				<div class="col m4">
					<div class="center promo">
						<i class="material-icons light-green-text">event_seat</i>
						<p class="promo-caption light-green-text text-darken-2">Ponencias</p>
						<p class="light center">Durante el evento, podrás asistir a una amplia variedad de charlas en el salón de actos del Centro.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col m4">
					<div class="center promo">
						<i class="material-icons light-green-text">build</i>
						<p class="promo-caption light-green-text text-darken-2">Talleres</p>
						<p class="light center">La finalidad del congreso es que "pruebes" las tecnologías, por tanto, ofrecemos talleres de temática diversa para un aprendizaje más práctico.</p>
					</div>
				</div>
				<div class="col m4">
					<div class="center promo">
						<i class="material-icons light-green-text">card_giftcard</i>
						<p class="promo-caption light-green-text text-darken-2">Acceso gratuito</p>
						<p class="light center">Try IT! lo organiza Delegación de Alumnos de la ETSI Informáticos de la Universidad
							Politécnica de Madrid. Está hecho por y para estudiantes. Perseguimos
							la formación y no el lucro.</p>
					</div>
				</div>
				<div class="col m4">
					<div class="center promo">
						<i class="material-icons light-green-text">assignment</i>
						<p class="promo-caption light-green-text text-darken-2">Reconocimiento de créditos</p>
						<p class="light center">Try IT! se incluye en el Catálogo General de Reconocimiento de Créditos de la UPM.
							Asiste, registra tu acceso y solicita tu reconocimiento de créditos.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="parallax-container">
			<div class="row container center-align" style="margin-top:140px;">
				<h2 class="header light-green-text">Patrocinadores</h2>
				<br>
				
			</div>
		<div class="parallax"><img src="{% static 'congress/img/parallax02.jpg' %}"></div>
	</div>
	<!-- ========================== -->
	<!-- partners					-->
	<!-- ========================== -->
	<link rel="stylesheet" href="{% static 'congress/css/home.css' %}">
	<section class="partners container">
		<div class="">
			<h4 class="partner-title gold">
				ORO
			</h4>
			<div class="partners-logos partners-logos-lg">
				<div class="partner-logo partner-logo-lg">
					<div>
						<a href="https://www.accenture.com/">
							<img src="{% static 'congress/img/partners/2018_oro_accenture.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="partner-logo partner-logo-lg">
					<div>
						<a href="https://www.everis.com/">
							<img src="{% static 'congress/img/partners/2018_oro_everis.png' %}" alt="">
						</a>	
					</div>
				</div>
				<div class="partner-logo partner-logo-lg">
					<div>
						<a href="https://www2.deloitte.com/">
							<img src="{% static 'congress/img/partners/2018_oro_deloitte.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="partner-logo partner-logo-lg">
					<div style="width:100%;" >
						<a href="https://axa.es">
							<img src="{% static 'congress/img/partners/2018_oro_axa.png' %}" alt="">	
						</a>
					</div>
				</div>
			</div> 	
		</div>

		<div class="">
			<h4 class="partner-title silver">
				PLATA
			</h4>
			<div class="partners-logos partners-logos-md">
				<div class="partner-logo partner-logo-md">
					<div>
						<a href="http://babel.es/es">
							<img src="{% static 'congress/img/partners/2018_silver_babel.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="partner-logo partner-logo-md">
					<div>
						<a href="https://the-cocktail.com/">
							<img style="margin-bottom: 22px;" src="{% static 'congress/img/partners/2018_silver_thecocktail.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="partner-logo partner-logo-md">
					<div>
						<a href="https://www.gmv.com/es/">
							<img src="{% static 'congress/img/partners/2018_silver_gmv.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="partner-logo partner-logo-md">
					<div style="width:100%;" >
						<a href="https://www.lineadirecta.com/">
							<img style="margin-bottom: 17px;" src="{% static 'congress/img/partners/2018_silver_lineadirecta.png' %}" alt="">	
						</a>
					</div>
				</div>
				<div class="partner-logo partner-logo-md">
					<div style="width:100%;">
						<a href="https://www.managementsolutions.com/es/inicio">
							<img src="{% static 'congress/img/partners/2018_silver_mso.jpg' %}" alt="">	
					</div>
				</div>
			</div> 	
		</div>

		<div class="">
			<h4 class="partner-title bronze">
				BRONCE	
			</h4>
			<div class="partners-logos partners-logos-sm">
				<div class="partner-logo partner-logo-sm">
					<div>
						<a href="http://appluslaboratories.com/es">
							<img src="{% static 'congress/img/partners/2018_bronze_aplus.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="partner-logo partner-logo-sm">
					<div>
						<a href="https://atos.net/es/spain">
							<img src="{% static 'congress/img/partners/2018_bronze_atos.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="partner-logo partner-logo-sm">
					<div>
						<a href="https://www.exevi.com/">
							<img src="{% static 'congress/img/partners/2018_bronze_exevi.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="partner-logo partner-logo-sm">
					<div style="width:100%;" >
						<a href="http://inspiringbenefits.com/">
							<img src="{% static 'congress/img/partners/2018_bronze_inspiring_benefits.png' %}" alt="">	
						</a>
					</div>
				</div>
			</div> 	
		</div>
	</section>

	
	<div class="separator" style="margin-top:90px;margin-bottom:30px"></div>


	<div class="container">
		<div class="row ada-byron__box center">
			<img src="{% static 'congress/img/2018_AdaByron-FaseLocal_3.png' %}" alt="Banner Ada Byron 2018">
			<div class="ada-byron__text center">
				<a  href="https://goo.gl/forms/a8EjUndrOb1uHNYl1" class="btn-large waves-effect waves-light btn light-green " style="margin:5px;">Inscribirse
				</a>
				<a  href="/workshops#181" class="btn-large waves-effect waves-light btn blue-grey darken-4" style="margin:5px;">más información
				</a>
			</div>
		</div>
	</div>
	<div class="separator" style="opacity:0;margin-top:70px;"></div>
	<!-- ========================== -->
	<!-- editions										-->
	<!-- ========================== -->
{#	<div class="section grey darken-3">#}
{#		<div class="row container center-align">#}
{#			<h2 class="header light-green-text">Otras ediciones</h2>#}
{#			<p class="white-text">#}
{#				¿Te has perdido las otras ediciones?#}
{#			</p>#}
{#			<p class="white-text">#}
{#				Échale un ojo a la programación de otros años...#}
{#			</p>#}
{#			<a class="waves-effect waves-light btn light-green" href="{% url 'congress:last-editions' %}">aquí</a>#}
{#		</div>#}
{#	</div>#}

	<div class="parallax-container">
	<div class="container">
		<div class="row center" style="margin-top:90px;">
			<h3 class="header light-green-text">¿Te perdiste la edición del año pasado?</h3>
			<br>	
			<h5 class="header col s12 center ">¡Descubre de qué se habló otros años!</h5>
		</div>
		<div class="row center">
			<a  href="{% url 'congress:last-editions' %}" class="btn-large waves-effect waves-light btn light-green">Ver otras ediciones
			</a>
		</div>
		<br><br>

	</div>
		<div class="parallax"><img src="{% static 'congress/img/parallax01.jpg' %}"></div>
	</div>

	<!-- ========================== -->
	<!-- localization								-->
	<!-- ========================== -->
	<div class="section white">
		<div class="row container center-align">
			<h2 class="header light-green-text">¿Dónde estamos?</h2>
			<p class="grey-text text-darken-3 lighten-3">
				Como todos los años, <span class="light-green-text text-darken-2">Try IT!</span> tiene lugar en la Escuela
				Técnica Superior de Ingenieros Informáticos de la Universidad Politécnica de Madrid, dentro del Campus de
				Montegancedo.
			</p>
			<div class="row">
				<div class="">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.1878150458556!2d-3.841693134840753!3d40.40468991429596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4185f258e5eec5%3A0xdf7b007bb6904fa5!2sUniversidad+Polit%C3%A9cnica+de+Madrid%3A+Escuela+T%C3%A9cnica+Superior+de+Ingenieros+Inform%C3%A1ticos!5e0!3m2!1ses!2ses!4v1479746471423"
						width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>

			<p class="grey-text text-darken-3 lighten-3">
				La localización exacta de cada ponencia y taller se especifica en la descripción de la misma.
			</p>
		</div>
	</div>




	<script>
		$(document).ready(function () {
			$(".parallax").parallax();
		});
	</script>
{% endblock %}