{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
<div class="container">
    <h4 class="center" id="streaming-title"></h4>
    <div id="video-player">
        <iframe width="420" height="315" id="youtube-iframe" src="" allowfullscreen ng-if="showYoutube"></iframe>
        <script src="https://embed.twitch.tv/embed/v1.js" ng-if="showTwitch"></script>
    </div>
</div>
<style>
    .container {
        padding-bottom: 50px;
    }

    iframe {
        width: 100%;
        height: calc((9 / 16) * (100vw - 20px));
        border: 0;
        display: flex;
        margin: 0 auto;
    }

    @media screen and (min-width: 992px) {
        main {
            min-height: 100vh;
        }

        iframe {
            height: 440px;
            width: 800px;
        }
    }
</style>
{% endblock %}