{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
	<div class="container ticket-card">
		{% if workshops %}
			{% for workshop in workshops %}
				<div class="card">
					<div class="card-content">
						<h5>{{ workshop.title }}</h5>
						<div class="secondary-text">{{ workshop.start_date|date:"l, j \d\e F" }}</div>
						<div class="secondary-text">{{ workshop.start_date|date:"H:i" }} - {{ workshop.end_date|date:"H:i" }}</div>
						<br>
						{% for speaker in workshop.speakers.all %}
							<div class="row">
								<div>
									<div class="col s8 m10 l10">
										<p><b>{{ speaker.name }}</b></p>
									</div>
									<img src="{{ speaker.picture }}" class="circle col s4 m2 l2">
								</div>
							</div>
						{% endfor %}
						<p class="with-newlines">{{ workshop.description }}</p>
					</div>
					{% if workshop.url %}
						<div class="card-action">
							<a class="light-green-text" href="{{ workshop.url }}">Registro</a>
						</div>
					{% endif %}
				</div>
			{% endfor %}
		{% else %}
			{#			 por ahora no hay workshops. vuelva mas tarde#}
		{% endif %}
	</div>
{% endblock %}