{% extends 'congress/base.html' %}

{% block content %}{% load staticfiles %}
	<div class="row ticket-card">
		<div class="col s12 m8 offset-m2">
			<div class="card-panel">
				<h6 class="center-align">¿Tienes dudas o problemas con la web? ¿Has solicitado tu
					entrada y quieres más información?</h6>
				</br>

				<div class="center-align">
					<a href="tel:910672719" class="waves-effect waves-light btn light-green">
						<i class="material-icons left">phone</i>
						910 672 719</a>
					<a href="mailto:tryit@da.fi.upm.es" class="waves-effect waves-light btn light-green">
						<i class="material-icons left">email</i>
						tryit@da.fi.upm.es</a>
				</div>
				</br>
			</div>
		</div>
	</div>
{% endblock %}